@model IEnumerable<TextCorpusMVC.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Пользователи</h2>


<table class="table">
    <tr>
        <th>
            Логин            
        </th>
        <th>
            Статус            
        </th>      
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Login)
        </td>       
        <td>
            @if (item.IsAdmin)
            {
                <p>Администратор</p>
            }
            else
            {
                <p>Пользователь</p>
            }
        </td>        
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Подробнее", "Details", new { id=item.Id }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
