@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Text Corpus System</h1>
</div>
<div class="row">
    <div class="col-md-8">
        <h2>Добро пожаловать в Text Corpus System</h2>
        <p>
            Text Corpus System это система для импорта/экспорта текстов, аннотированных в формате <a href="https://brat.nlplab.org/">brat</a>.
        </p>
    </div>
</div>